body{
    background-color: #a7d27d;
    font-family: "Gill Sans", sans-serif;
    color: #212a19;
}
button {
    position: relative;
    display: inline-block;
    margin: 20px;
    padding: 20px 40px;

    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 120%;
    text-align: center;
    text-decoration: none;

    background-color: #6da731;
    border: none;
    border-radius: 5px;
    box-shadow:
            inset 0 1px 0 #c4dbac,
            5px 10px 0 #41641d;

    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;

    &:active {
        transform: translate(5px, 10px);
        background-color: #6da731;

        box-shadow:
                inset 0 1px 0 #c4dbac,
                inset -3px -3px 0 #41641d;

        &::after {
            bottom: -5px;
            right: -5px;
        }
    }
}
#graphCanvas{
    background-color: #e1edd5;
}
.testGraph{
    background-color: #a7d27d;
    border: #a7d27d solid 3px;
}
.Testsearch{
    border: solid 5px darkslategray;
    background-color: darkolivegreen;
}
.testGraph.selected {
    border: 3px solid greenyellow;
}
.graph-list li.selected {
    background-color: #6da731;
    /*color: white;*/
}