body{
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
}
*{
    margin: 0;
    padding: 0;
}
#graphCanvas{
    border-radius: 4px;
    height: 615px;
    width: 800px;
    margin: 5px;
}

.left{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    padding: 5vh;
    flex-direction: column;
    font-size: 200%;
}
.testGraph{
    width: 16vw;
    height: 12vw;
    border-radius: 4px;
    margin: 2px;
}
.testGraphAll{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.difficultyChoose{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}
.difficultyChoose select{
    height: 5vh;
    width: 50%;
}


.names{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

.names input{
    height: 5vh;
    width: 50%;
}

.menu{
    grid-column: 2;
    grid-row: 1;
    padding: 3vh;

}
.search{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 4fr 1fr;
    font-size: 150%;
    width: 100%;
    margin-top: 2vh;
}
.search label{
    grid-column:  1 / 3;
    grid-row: 1;
}

.search input{
    grid-column:  1;
    grid-row: 2;
}

.search button{
    grid-column:  2;
    grid-row: 2;
}

.Testsearch{
    height: 80vh;
    margin-top: 3vh;
}