body{
    background-color: pink;
}
.testGraph{
    background-color: lightpink;
    border: deeppink solid 3px;
}
.Testsearch{
    border: solid 5px darkslategray;
    background-color: darkolivegreen;
}