body{
    background-color: gray;
}
.testGraph{
    background-color: grey;
    border: darkslategray solid 3px;
}
.Testsearch{
    border: solid 5px darkslategray;
    background-color: darkolivegreen;
}
.testGraph.selected {
    border: 2px solid black;
}