body{
    background-color: mediumseagreen;
}
.testGraph{
    background-color: steelblue;
    border: navy solid 3px;
}
.Testsearch{
    border: solid 5px darkslategray;
    background-color: darkolivegreen;
}
.testGraph.selected {
    border: 2px solid greenyellow;
}